<div class="container">
    <div class="row center">
        <!-- Login Form -->
        <div class="col s12 l8 offset-l2 m12">
            <div class="input-field col s12">
                <form ng-submit="login(form)">
                    <h4 class="center light-blue-text text-darken-3">Log In</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="email" ng-model="user.email" required type="email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="password" ng-model="user.password" required type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves blue darken-3 center" type="submit">Log In</button>
                </form>
                <div class="row">
                    <div class="input-field col s12">
                      <div> OR </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a href="/#/register" class="waves-effect waves btn-flat grey lighten-2">Register a New Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
