node_modules
.tmp
.sass-cache
.idea
/client/bower_components
client/bower_components
dist

client/bower_components
client/client/bower_components
*.pdf
.tmp
.sass-cache
.DS_Store
server/node_modules
.vscode
server/mongolab.js
server/npm-debug.log
masterpathways.json
config
