<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <!-- progress chart-->
        <div class="c100 p{{ logosPercent }} center">
          <span>{{ logosPercent }}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <!-- end progress chart-->
        <h5 class="center">Logos Progress</h5>

        <ul class="tabs">
          <li class=" tab col s4">
            <a class="active blue darken-3 white-text" href="#Step1">Step 1</a>
          </li>
          <li class="tab col s4">
            <!-- blue tab background if unlocked -->
            <div ng-if="step1">
              <a class="active blue darken-3 white-text" href="#Step2">Step 2</a>
            </div>
            <!-- grey background if not unlocked -->
            <div ng-if="!step1">
              <p class="grey-text text-lighten-2">Step 2</p>
            </li>
            <li class="tab col s4" disabled>
              <!-- blue tab background if unlocked -->
              <div ng-if="step2">
                <a class="active blue darken-3 white-text" href="#Step3">Step 3</a>
              </div>
              <!-- grey background if not unlocked -->
              <div ng-if="!step2">
                <p class="grey-text text-lighten-2">Step 3</p>
              </li>
            </ul>

            <ul class="collapsible" data-collapsible="accordion">
              <!-- begining of movement -->
              <li ng-repeat="movement in movements">
                <div class="collapsible-header" ng-if="!movement.complete">{{movement.name}}</div>
                <div class="collapsible-header blue darken-3" ng-if="movement.complete">{{movement.name}}
                  - Complete</div>

                <div class="collapsible-body">
                  <h5>Movement Standard</h5>
                  <a class="waves-effect waves btn-flat modal-trigger" href="#test" modal>
                    <h6 class="grey-text">See Video</h6>
                  </a>
                  <br>
                  <h6 ng-bind-html="movement.content.explanation | unsafe"></h6>

                  <!-- button enabled by default -->
                  <div ng-if="!movement.complete && !movement.pending">
                    <p>
                      <button class="btn waves-effect waves blue darken-3 center" ng-click="submitMovementApproval(movement._id)" type="submit">Submit For Approval</button>
                    </p>
                  </div>

                  <!-- button disabled if movement is pending -->
                  <div ng-if="movement.pending && !movement.complete">
                    <p>
                      <button class="btn waves-effect waves blue darken-3 center" disabled>Submit For Approval</button>
                    </p>
                  </div>

                  <!-- Modal Structure -->
                  <div class="modal" id="test">
                    <div class="modal-content">
                      <!-- <div class="video-container">
                        <iframe allowfullscreen class="youtube-player" frameborder="0" height="315" ng-src="EMBEDDED VIDEO WILL GO HERE" type="text/html" width="560"></iframe>
                      </div>
                    </div> -->
                      <div class="modal-footer">
                        <button class="btn waves-effect waves blue darken-3 center modal-close" type="submit">Close</button>
                      </div>
                    </div>
                    <!-- End of Modal Structure -->

                  </div>
                </li>
                <!-- End of Movement -->
                <!-- be sure to keep this </ul> below -->
              </ul>

              <!-- Script for collapsible list  and modals-->
              <script>
                //script for collapsible list
                $(document)
                  .ready(function() {
                    $('.collapsible').collapsible({
                      accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                    });
                  });

                //script for modals
                $(document)
                  .ready(function() {
                    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                    $('.modal-trigger').leanModal();
                  });
              </script>
            </div>
          </div>
        </div>
      </div>
