<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <img class="responsive-img circle" src="app/assets/rambo.jpg"/>
        <br>
        <a class="waves-effect waves btn-flat">Change Image</a>
      </div>
      <div class="col s12 center">
        <h4>Welcome User.FirstName</h4>
        <h5 class="grey-text">Member of User.Gym.Name</h5>
        <br>
        <h5>Athlete Info</h5>

        <div class="input-field col s12">
          <input class="validate" id="firstName" ng-model="firstName" placeholder="First Name" required type="text">
        </div>

        <div class="input-field col s12">
          <input class="validate" id="lastName" ng-model="lastName" placeholder="Last Name" required type="text">
        </div>

        <div class="input-field col s12">
          <input class="validate" id="email" ng-model="email" placeholder="E-mail" required type="text">
        </div>

        <br>
        <p>Gender:</p>
        <input class="input-field" id="male" name="group1" type="radio"/>
        <label for="male">Male</label>
        <input id="female" name="group1" type="radio"/>
        <label for="female">Female</label>
        <div class="input-field col s12">
          <input class="validate" id="height" ng-model="height" placeholder="Height (Ex: 6'2)" required type="text">
        </div>

        <div class="input-field col s12">
          <input class="validate" id="weight" ng-model="weight" placeholder="Weight (lbs)" required type="text">
        </div>
        <p>
          <h5>Goals</h5>
        </p>
        <a class="waves-effect waves btn-flat">Add Goal</a>
        <ol>
          <li>ng-repeat showing goals
            <i class="material-icons right">
              <a href="#">delete</i>
            </a>
          </li>
        </ol>
        <a class="waves-effect waves btn-flat">Save Information</a>
      </div>
