<div class="container">
    <div class="section">

        <!-- Profile Photo and Name -->
        <div class="row">
            <div class="col s12 center">
              <img alt="Contact Person" class="responsive-img circle" ng-show="getCurrentUser().name.first && !getCurrentUser().is_admin && !getCurrentUser().is_master" src="assets/userAvatar.svg" width="120px">
              <img alt="Contact Person" class="responsive-img circle" ng-show="getCurrentUser().is_admin && !getCurrentUser().is_master" src="assets/adminAvatar.svg" width="120px">
              <img alt="Contact Person" class="responsive-img circle" ng-show="getCurrentUser().is_master && !getCurrentUser().is_admin" src="assets/masterAvatar.svg" width="120px">
            </div>
            <div class="col s12 center">
                <h5>{{getCurrentUser().name.first}} {{getCurrentUser().name.last}}</h5>
            </div>
        </div>

        <!-- Stats - COMMENT OUT FOR NOW, ADD BACK IN LATER -->
        <!-- <div class="row">
        	<div class="col s12 m4 center">
        		<h6> Evaluations Complete</h6>
        		<h4> 47 </h4>
        		<p> Total </p>
        	</div>
        	<div class="col s12 m4 center">
        		<h6> Longest Streak </h6>
        		<h4> 15 </h4>
        		<p> Days </p>
        	</div>
        	<div class="col s12 m4 center">
        		<h6> Current Streak </h6>
        		<h4> 3 </h4>
        		<p> Days </p>
        	</div>
        </div> -->

        <!-- Badges -->
        <div class="row">
	        <div class="col s12 center">
	        	<h5> Your Badges </h5>
            <br>
	        </div>
	        <div class="col s12 m4 center">
            <img class="badge" ng-if="fundamentalsBadge" src="assets/badges_stats/fundamentals_black.svg">
            <img class="badge" ng-if="!fundamentalsBadge" src="assets/badges_stats/fundamentals_gray.svg">
	        	<h5> Fundamentals </h5>
	        </div>

	        <div class="col s12 m4 center">
            <img class="badge" ng-if="knowledgeBadge" src="assets/badges_stats/knowledge_black.svg">
            <img class="badge" ng-if="!knowledgeBadge" src="assets/badges_stats/knowledge_gray.svg">
	        	<h5> Knowledge </h5>
	        </div>

	        <div class="col s12 m4 center">
            <img class="badge" ng-if="physicalBadge" src="assets/badges_stats/knowledge_black.svg">
            <img class="badge" ng-if="!physicalBadge" src="assets/badges_stats/knowledge_gray.svg">
	        	<h5> Physical </h5>
	        </div>
        </div>

        <!-- Goals -->
        <div class="row">
          <div class="col l8 center offset-l2 m12 s12">
            <h5>
              <br>
              Your Goals
            </h5>
            <ol>
              <li>ng-repeat showing goals
                <i class="material-icons right">
                  <a href="#" ng-click="deleteGoal(goal)">delete</i>
                </a>
              </li>
            </ol>
          <!-- section for adding goal. This will need to be built out once goals are implemented in schema -->
          <a class="waves-effect btn-flat grey lighten-2" ng-click="goalAdd=true">Add Goal</a>
          <div ng-show="goalAdd">
            <input class="validate" id="userGoal" ng-model="userInfo.goal" placeholder="Enter goal" required type="text">
            <a class="waves-effect btn-flat grey lighten-2" ng-click="goalAdd=false">Submit</a>
          </div>
        </div>
        </div>
          <!-- end of adding goal section -->
    </div>
</div>
