<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l7 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">The Logos Academy is a sure tested formula that was created purely for those who are looking to begin their road on maximizing potential. Although some of the tasks may be difficult, you can find solace in your coaches expansive knowledge in the program. In short this is your journey to a fitter, stronger, and better you!
          Learn more <a href="/#/learn-more"> HERE </a>
         </p>


      </div>
      <div class="col l3 s12 right">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://www.crossfit.com" target="new"><i class="fa fa-globe"></i> CrossFit.com</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-4">
    <div class="container">
      Copyright &#169; LogosAcademy 2015</a>
    </div>
  </div>
</footer>
