<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


      </div>
      <div class="col l3 s12 right">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://www.crossfit.com" target="new"><i class="fa fa-globe"></i> CrossFit.com</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-4">
    <div class="container">
      Copyright &#169; LogosProject 2015</a>
    </div>
  </div>
</footer>
