<!--  ****************************************
   _DRAFT_TIMTER  (BEGIN)
   **************************************** -->

<div class="text-center">
  <form class="form-inline" ng-show="ctrl.isAdmin()">
    <div class="form-group">
      <label for="exampleInputAmount"></label>
      <div class="form-group" style="padding-top: 10px">
        <input class="form-control" id="exampleInputAmount" style= "padding-bottom: 1px"  ng-model="ctrl.userCountdown" placeholder="Seconds" type="number">

      </div>
    </div>
    <button class="btn btn-primary" style="background-color: #4393B9;" ng-click="ctrl.startTimer()" ng-hide="ctrl.hidebutton">Start</button>
    <button class="btn btn-primary" style="background-color: #4393B9;" ng-click="ctrl.resetTimer()">Reset</button>

  </form>
</div>

<h4 class="text-center">Draft Timer: &nbsp;
  {{ctrl.timerSeconds}}
  seconds left to pick
</h4>

<div class="">
  <div class="row">

    <div class="jumbotron  sample shadow-z-5 showback col-centered col-lg-12 col-md-12 col-sm-12">
      <table class="table table-striped table-hover" data-toggle="table">
<!-- table headers -->
        <thead>
          <tr>
            <th>Team Name</th>
<!-- <th>Round {{ $index + 1 }}</th> -->
            <th>Rnd 1</th>
            <th>Rnd 2</th>
            <th>Rnd 3</th>
            <th>Rnd 4</th>
            <th>Rnd 5</th>
            <th>Rnd 6</th>
            <th>Rnd 7</th>
            <th>Rnd 8</th>
            <th>Rnd 9</th>
            <th>Rnd 10</th>
          </tr>
        </thead>
<!-- Table Data  -->
        <tbody>
          <tr ng-repeat="team in ctrl.allTeams" style="color: navy">
            <td style="vertical-align: middle; color: navy">
              <p style="font-size: 1.9vmin; color: black">{{team.name}}</a>
            </td>
            <td ng-repeat="player in team.players">
              <p style="font-size: 1.7vmin; color: navy">{{player.name}}</p>
            </a>
            <p style="font-size: 1.55vmin">{{player.position}}
              |
              {{player.team}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /row mt  -->
</div>
<!-- /container fluied -->

<!-- *************************************************
*************  LEAGUE SUMMARY SECTION  ***************
****************************************************** -->
<div class="col-lg-6 col-md-6 col-sm-12 showback">
<accordion>
  <accordion-group heading="League Summary" is-open="isOpen" ng-init="isOpen = true">
    <div class="content-panel">
      <section class="team text-center" style="padding: 5px">
        <div style="background-color: #4393B9; "></div>
        <table class="table table-striped table-hover2 table-condensed table-bordered" data-toggle="table">
<!-- <table ng-table="tableParams" class="table ng-table-responsive"> -->
<!-- table headers -->
          <thead style="background-color: #4393B9">
            <tr>
              <th>Team</th>
              <th>QB</th>
              <th>RB</th>
              <th>WR</th>
              <th>TE</th>
              <th>K</th>
              <th>DST</th>
            </tr>
          </thead>
          <tbody>
<!-- <tbody ng-repeat="group in $groups"> -->
            <tr ng-repeat="team in ctrl.allTeams">
<!-- <tr class="ng-table-group"> -->
              <td style="vertical-align: middle">
                <a href="ctrl.goPlayer(player)">{{team.name}}</a>
              </td>
              <td>1 of 2</td>
              <td>1 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
<!--               <td colspan="{{$columns.length}}">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong>{{ group.value }}</strong>
                </a>
              </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="player in group.players">
              <td sortable="'position'" data-title="'Position'">
                  {{player.position}}
              </td>
              <td sortable="'bye'" data-title="'Bye'">
                  {{player.bye}}
              </td>
            </tr>
            <tr>
              <td class="text-success text-right"><strong>Summary:</strong></td>
              <td>{{calcSum(group.players)}}</td> -->
            </tr>
<!-- <tr id="tr-id-1" class="tr-class-1">
                <td id="td-id-1" class="td-class-1"><a href="">Team1</a></td>
                <td>0 of 2</td>
                <td>0 of 4</td>
                <td>0 of 4</td>
                <td>0 of 2</td>
                <td>0 of 2</td>
                <td>0 of 2</td>
            </tr>
            <tr id="tr-id-2" class="tr-class-2">
                <td id="td-id-2" class="td-class-2"><a href="">Team2</a></td>
                <td>0 of 2</td>
                <td>0 of 4</td>
                <td>0 of 4</td>
                <td>0 of 2</td>
                <td>0 of 2</td>
                <td>0 of 2</td>
            </tr> -->
            <tr class="tr-class-3" id="tr-id-3">
              <td class="td-class-3" id="td-id-3">
                <a href="">Team3</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-4" id="tr-id-4">
              <td class="td-class-4" id="td-id-4">
                <a href="">Team4</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-5" id="tr-id-5">
              <td class="td-class-5" id="td-id-5">
                <a href="">Team5</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-6" id="tr-id-6">
              <td class="td-class-6" id="td-id-6">
                <a href="">Team6</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-7" id="tr-id-7">
              <td class="td-class-7" id="td-id-7">
                <a href="">Team7</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-8" id="tr-id-8">
              <td class="td-class-8" id="td-id-8">
                <a href="">Team8</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-9" id="tr-id-9">
              <td class="td-class-9" id="td-id-9">
                <a href="">Team9</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
            <tr class="tr-class-10" id="tr-id-10">
              <td class="td-class-10" id="td-id-10">
                <a href="">Team10</a>
              </td>
              <td>0 of 2</td>
              <td>0 of 4</td>
              <td>0 of 4</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
              <td>0 of 2</td>
            </tr>
          </tbody>
        </table>

      </section>
    </div>
  </accordion-group>
</accordion>
</div>
<!-- end showback div sizing colums -->
</div>
<!-- /div row mt -->
</div>
<!-- /div fluid container -->
