<div class="container">
  <div class="row center">
<!-- Login Form -->
    <div class="col s12 l8 offset-l2 m12">
      <div class="input-field col s12">
        <form ng-submit="login(userLogin)">
          <h4 class="center light-blue-text text-darken-3">Login</h4>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="email" ng-model="email" required type="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="password" ng-model="password" required type="password">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves blue darken-3 center" ng-click="signIn()" type="submit">Sign In</button>
        </form>
      </div>
    </div>
    <br>
<!-- Register Form -->
    <div class="col s12 l8 offset-l2 m12">
      <div class="input-field col s12">
        <br>
        <form ng-submit="registerUser(user)">
          <h4 class="center light-blue-text text-darken-3">Register</h4>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="firstName" ng-model="firstName" required type="text">
              <label for="firstName">First Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="lastName" ng-model="lastName" required type="text">
              <label for="lastName">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="emailReg" ng-model="email" required type="email">
              <label for="emailReg">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="gym" ng-model="gym" required type="text">
              <label for="gym">Enter Gym Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="password1" ng-model="passwordReg" required type="password">
              <label for="passwordReg">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" id="password2" ng-model="passwordRegCheck" type="password">
              <label for="passwordRegCheck">Password</label>
              <p id="validate-status"></p>
            </div>
          </div>
          <button class="btn waves-effect waves blue darken-3 center" ng-click="registerUser(user)" type="submit">Register</button>
        </form>
      </div>
    </div>
<!-- Password match validation -->
    <script>
      $(document).ready(function() {
        $("#password2").keyup(validate);
      });

      function validate() {
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();

        if (password1 == password2) {
          $("#validate-status").text("Password is valid!");
        } else {
          $("#validate-status").text("Passwords DO NOT match!");
        }
      }
    </script>
  </div>
</div>
