<nav class="white" ng-controller="NavbarCtrl" role="navigation">
  <div class="nav-wrapper container">
    <a ng-href="/home">
      <img class="nav-logo" height="60px" src="assets/logo.svg" width="60px"/>
    </a>
    <a class="brand-logo" id="logo-container" ng-href="/home">
    <font size="5px" color="#0277BD">Logos</font><font size="5px">Academy</font></a>
    <img alt="Contact Person" class="right responsive-img circle navProfPic" ng-show="getCurrentUser().name.first && !getCurrentUser().is_admin && !getCurrentUser().is_master" src="assets/userAvatar.svg" width="36px">
    <img alt="Contact Person" class="right responsive-img circle navProfPic" ng-show="getCurrentUser().is_admin && !getCurrentUser().is_master" src="assets/adminAvatar.svg" width="36px">
    <img alt="Contact Person" class="right responsive-img circle navProfPic" ng-show="getCurrentUser().is_master && !getCurrentUser().is_admin" src="assets/masterAvatar.svg" width="36px">
    <ul class="right hide-on-med-and-down">

      <!-- menu for users who are NOT logged in -->
      <li ng-if="!getCurrentUser().name.first">
        <a class="small waves-effect waves-light btn blue darken-3" ng-href="/login">Log In/Register</a>
      </li>

      <!-- menu for users who are logged in and NOT admin -->
      <div ng-show="getCurrentUser().name.first && !getCurrentUser().is_admin && !getCurrentUser().is_master">
        <li>
          <a ng-href="/main">Path</a>
        </li>
        <li>
          <a ng-href="/stats">Stats</a>
        </li>
        <li>
          <a ng-href="#">
            <a class="dropdown-button" data-activates="userDropdown" data-hover="true" ng-href="#!">{{getCurrentUser().name.first}}
              {{getCurrentUser().name.last}}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </div>

        <!-- menu for users who are admins -->
        <div ng-show="getCurrentUser().is_admin && !getCurrentUser().is_master">
          <li>
            <a ng-href="/main">Path</a>
          </li>
          <li>
            <a ng-href="/stats">Stats</a>
          </li>
          <li>
            <a class="dropdown-button" data-activates="adminActions" data-hover="true" ng-href="#!">Admin Actions
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" data-activates="adminDropdown" data-hover="true" ng-href="#!">{{getCurrentUser().name.first}}
              {{getCurrentUser().name.last}}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </div>

        <!-- menu for users who are master -->
        <div ng-show="getCurrentUser().is_master && !getCurrentUser().is_admin">
          <li>
            <a ng-href="/main">Path</a>
          </li>
          <li>
            <a ng-href="/stats">Stats</a>
          </li>
          <li>
            <a class="dropdown-button" data-activates="masterActions" data-hover="true" ng-href="#!">Master Actions
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" data-activates="masterDropdown" data-hover="true" ng-href="#!">{{getCurrentUser().name.first}}
              {{getCurrentUser().name.last}}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </div>

        <!-- Dropdown Structure for all -->
        <ul class="dropdown-content" id="userDropdown">
          <li>
            <a ng-href="/profile">Update Profile</a>
          </li>
          <li>
            <a ng-click="logout()">Logout</a>
          </li>
        </ul>
        <ul class="dropdown-content" id="adminDropdown">
          <li>
            <a ng-href="/profile">Update Profile</a>
          </li>
          <li>
            <a ng-click="logout()">Logout</a>
          </li>
        </ul>

        <ul class="dropdown-content" id="masterDropdown">
          <li>
            <a ng-href="/profile">Update Profile</a>
          </li>
          <li>
            <a ng-click="logout()">Logout</a>
          </li>
        </ul>

        <ul class="dropdown-content" id="adminActions">
          <li>
            <a ng-href="/gym/manage/{{getCurrentUser().gym}}">Manage Gym</a>
          </li>
          <li>
            <a ng-href="/gym/programming/{{getCurrentUser().gym}}">Programming
            </a>
          </li>
          <li>
            <a ng-href="/gym/members">Manage Members</a>
          </li>
          <li>
            <a ng-href="/gym/coach/{{getCurrentUser().gym}}">Coach's Hub</a>
          </li>
        </ul>

        <ul class="dropdown-content" id="masterActions">
          <li class="divider"></li>

          <li>
            <a ng-href="/gym/main">Manage Gyms</a>
          </li>
          <li>
            <a ng-href="/gym/programming/{{getCurrentUser().gym}}">Programming
            </a>
          </li>
          <li>
            <a ng-href="/gym/members">Manage Members</a>
          </li>
          <li>
            <a ng-href="/gym/coach/{{getCurrentUser().gym}}">Coach's Hub</a>
          </li>
        </ul>

    </ul>
    <!-- Mobile nav menu -->
    <ul class="side-nav" id="nav-mobile">

      <!-- mobile menu for unauth users -->
      <div ng-show="!getCurrentUser().name.first">
        <li>
          <a ng-href="/login">Log In/Register</a>
        </li>
      </div>

      <!-- mobile menu for authed users -->
      <div ng-show="getCurrentUser().name.first && !getCurrentUser().is_admin && !getCurrentUser().is_master">
        <li>
          <a ng-href="/main">Path</a>
        </li>
        <li>
          <a ng-href="/stats">Stats</a>
        </li>
        <li>
          <a ng-href="/profile">Update Profile</a>
        </li>
          <li class="divider"></li>
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
      </div>

      <!-- mobile menu for admins -->
      <div ng-show="getCurrentUser().is_admin && !getCurrentUser().is_master">
        <li>
          <a ng-href="/main">Path</a>
        </li>
        <li>
          <a ng-href="/stats">Stats</a>
        </li>
          <li class="divider"></li>
        <li>
          <a ng-href="/gym/manage/{{getCurrentUser().gym}}">Manage Gym</a>
        </li>
        <li>
          <a ng-href="/gym/programming/{{getCurrentUser().gym}}">Programming
          </a>
        </li>
        <li>
          <a ng-href="/gym/members">Manage Members</a>
        </li>
        <li>
          <a ng-href="/gym/coach/{{getCurrentUser().gym}}">Coach's Hub</a>
        </li>
          <li class="divider"></li>
        <li>
          <a ng-href="/profile">Update Profile</a>
        </li>
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
      </div>

      <!-- mobile menu for master -->
      <div ng-show="getCurrentUser().is_master && !getCurrentUser().is_admin">
        <li>
          <a ng-href="/main">Path</a>
        </li>
        <li>
          <a ng-href="/stats">Stats</a>
        </li>
         <li class="divider"></li>
        <li>
          <a ng-href="/gym/main">Manage Gyms</a>
        </li>
        <li>
          <a ng-href="/gym/programming/{{getCurrentUser().gym}}">Programming
          </a>
        </li>
        <li>
          <a ng-href="/gym/members">Manage Members</a>
        </li>
        <li>
          <a ng-href="/gym/coach/{{getCurrentUser().gym}}">Coach's Hub</a>
        </li>
         <li class="divider"></li>
        <li>
          <a ng-href="/profile">Update Profile</a>
        </li>
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
      </div>

      <!-- close list for nav menu -->
    </ul>
    <a class="button-collapse" data-activates="nav-mobile" ng-href="#">
      <i class="small material-icons">toc</i>
    </a>

  </div>
  <!-- Script for mobile nav menu -->
  <script>
    $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });

    $(".dropdown-button").dropdown({
      hover: false
    });
  </script>
  <!-- end of mobile nav script -->
</nav>
