<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a href="#/home">
      <img src="app/assets/logo.svg" class="nav-logo" height="60px" width="60px" />
    </a>
    <a id="logo-container" href="#/home" class="brand-logo">
      <font color="#0277BD">Logos</font>Project</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="small waves-effect waves-light btn blue darken-3" href="#/login">Login/Register</a></li>
    </ul>

    <!-- Mobile nav menu -->
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#About">About</a></li>
      <li><a href="#HowitWorks">How it Works</a></li>
      <li><a href="#/login">Login/Register</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="small material-icons">toc</i></a>
  </div>
</nav>
