<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
<!-- progress chart-->
        <div class="c100 p{{ logosPercent }} center">
          <span>{{ logosPercent }}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
<!-- end progress chart-->
        <h5 class="center">Logos Progress</h5>

        <ul class="tabs">
          <li class=" tab col s4">
            <a class="active blue darken-3 white-text" href="#Step1">Step 1</a>
          </li>
          <li class="tab col s4">
<!-- blue tab background if unlocked -->
            <div ng-if="user.logos.step2.unlocked === true">
              <a class="active blue darken-3 white-text" href="#Step2">Step 2</a>
            </div>
<!-- grey background if not unlocked -->
            <div ng-if="!user.logos.step2.unlocked">
              <p class="grey-text text-lighten-2">Step 2</p>
            </li>
            <li class="tab col s4" disabled>
<!-- blue tab background if unlocked -->
              <div ng-if="user.logos.step3.unlocked === true">
                <a class="active blue darken-3 white-text" href="#Step3">Step 3</a>
              </div>
<!-- grey background if not unlocked -->
              <div ng-if="!user.logos.step3.unlocked">
                <p class="grey-text text-lighten-2">Step 3</p>
              </li>
            </ul>

            <ul class="collapsible" data-collapsible="accordion">
<!-- begining of movement -->
              <li ng-repeat="movement in movements">
                <div ng-if="logos.movement.name.complete">
                  <div class="collapsible-header blue darken-3">{{logos.movement.name}}
                    - Complete</div>
                </div>
                <div ng-if="!logos.movement.name.complete">
                  <div class="collapsible-header">{{logos.movement.name}}</div>
                </div>
                <div class="collapsible-body">
                  <h5>Movement Standard</h5>
                  <a class="waves-effect waves btn-flat modal-trigger" href="#modalPress">
                    <h6 class="grey-text">See Video</h6>
                  </a>
                  <p>{{logos.movement.description}}</p>

                  <div ng-if="!logos.movement.name.complete">
                    <p>
                      <button class="btn waves-effect waves blue darken-3 center" ng-click="submitMovementApproval()" type="submit">Submit For Approval</button>
                    </p>
                  </div>

<!-- button disabled if movement is already complete -->
                  <div ng-if="logos.movement.name.complete">
                    <p>
                      <button class="btn waves-effect waves blue darken-3 center" disabled>Submit For Approval</button>
                    </p>
                  </div>

<!-- Modal Structure -->
                  <div class="modal" id="modalPress">
                    <div class="modal-content">
                      <div class="video-container">
                        <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/94pwgUPhdrE" width="560"></iframe>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn waves-effect waves blue darken-3 center modal-close" type="submit">Close</button>
                    </div>
                  </div>
<!-- End of Modal Structure -->

                </div>
              </li>
<!-- End of Movement -->

<!-- will delete these two below since there will be an ng-repeat for this. They are just here for the demo -->
              <li>
                <div class="collapsible-header">Push Press
                </div>
                <div class="collapsible-body">
                  <p>Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </li>
              <li>
                <div class="collapsible-header">Push Jerk
                </div>
                <div class="collapsible-body">
                  <p>Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </li>
<!-- end of delete -->
<!-- be sure to keep this </ul> below -->
            </ul>

<!-- Script for collapsible list  and modals-->
            <script>
              //script for collapsible list
              $(document).ready(function() {
                $('.collapsible').collapsible({
                  accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                });
              });

              //script for modals
              $(document).ready(function() {
              // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();
              });
            </script>
          </div>
        </div>
      </div>
    </div>
