<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4>
          Edit Gym Programming
        </h4>
      </div>

<!-- Select Program -->
      <div class="row">
          <div class="col s12 m12 l4 center offset-l4">
              <select class="browser-default" ng-model="pathwayID" ng-options="options.value as options.label for options in pathwayOptions" ng-change="onPathwaySelect()">
                  <option value="" disabled selected>Select Program</option>
              </select>
          </div>
      </div>

      <div class="row" ng-show="stages">
          <div class="col s12 m12 l4 center offset-l4">
              <select class="browser-default" ng-model="stageID" ng-options="options.value as options.label for options in stageOptions" ng-change="onStageSelect()">
                  <option value="" disabled selected>Select Program</option>
              </select>
          </div>
      </div>

      <div class="row" ng-show="evaluations">
          <div ng-repeat="field in evaluationsList">
              {{ field.name }} - {{ field.content.explanation }}

          </div>
      </div>

<!-- Script required for drop down menu -->
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<!-- Have to ask Brian Ng what this leftover code is -->
<!--    <div class="col l8 center offset-l2 m12 s12">

            <select>
		    	<option value="" disabled selected>Choose your option</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>

        </div>

        <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
        </script> -->
