<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4>
          Edit Gym Programming
        </h4>
      </div>

<!-- Select Program -->
<!-- There is a bug where if Logos is selected first it will not load until you click it again -->
<!-- The other two paths work without issue -->
      <!-- <div class="input-field col s12 m12 l4 center offset-l4">
        <select ng-model="pathSelection">
          <option disabled selected>
            Select Your Program</option>
          <option value="1">Logos</option>
          <option value="2">Pathos</option>
          <option value="3">Ethos</option>
        </select>
      </div> -->

      <div class="row">
          <div class=" col s12 m12 l4 center offset-l4">
              <select class="browser-default" ng-model="selected" ng-options="options.value as options.label for options in pathwayOptions">
                  <option value="" disabled selected>Select Program</option>
              </select>
          </div>
      </div>

      <div class="input-field col s12 m12 l4 center offset-l4" ng-show="selected === '{{pathwaysOptions._id}}'">
        Logos Options
        <select onChange="window.location.href=this.value">
          <option disabled selected value="">Select Your Program Part</option>
          <option value="/#/gym/programming/gymId/fundamentals">Fundamentals</option>
          <option value="/#/gym/programming/gymId/knowledge">Knowledge</option>
          <option value="/#/gym/programming/gymId/physical">Physical</option>
        </select>
      </div>

      <div class="input-field col s12 m12 l4 center offset-l4 ng-hide" ng-show="pathSelection === '2'">
        Pathos Options
        <select onChange="window.location.href=this.value">
          <option disabled selected value="">Select Your Program Part</option>
          <option value="/#/gym/programming/gymId/fundamentals">Fundamentals</option>
          <option value="/#/gym/programming/gymId/knowledge">Knowledge</option>
          <option value="/#/gym/programming/gymId/physical">Physical</option>
        </select>
      </div>

      <div class="input-field col s12 m12 l4 center offset-l4 ng-hide" ng-show="pathSelection === '3'">
        Ethos Options
        <select onChange="window.location.href=this.value">
          <option disabled selected value="">Select Your Program Part</option>
          <option value="/#/gym/programming/gymId/fundamentals">Fundamentals</option>
          <option value="/#/gym/programming/gymId/knowledge">Knowledge</option>
          <option value="/#/gym/programming/gymId/physical">Physical</option>
        </select>
      </div>

      <div class="row">
        <div class="input-field col l8 center offset-l2 m12 s12">
          <ui-view></ui-view>
          <a class="waves-effect btn-flat grey lighten-2 center" ng-click="approveMovement()">Approve</a>
        </div>
      </div>
    </div>

    <div class="input-field col s12 m12 l4 center offset-l4">
      <br>
      <h5>Current Movements:</h5>

      <table>
        <thead>
          <tr>
            <th data-field="Goal Name">Goal Name</th>
            <th data-field="Edit Goal">Edit Goal</th>
          </tr>
        </thead>
        <tbody>
<!-- ng repeat the following -->
          <tr>
            <td>
              <h6>Hold a 2 min Plank (straight arm)</h6>
            </td>
            <td>
              <a class="waves-effect btn-flat grey lighten-2 center" ng-click="editGoal()">Edit</a>
            </td>
          </tr>
<!-- end ng repeat -->
          <tr>
            <td>
              <h6>Hold a 93 min Plank (straight arm)</h6>
            </td>
            <td>
              <a class="waves-effect btn-flat grey lighten-2 center" ng-click="editGoal()">Edit</a>
            </td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Script required for drop down menu -->
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<!-- Have to ask Brian Ng what this leftover code is -->
<!--    <div class="col l8 center offset-l2 m12 s12">

            <select>
		    	<option value="" disabled selected>Choose your option</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>

        </div>

        <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
        </script> -->
