  /* Custom Stylesheet */
  /**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

  /* START of materialize settings */

  nav ul a, nav .brand-logo {
    color: #444;
  }
  p {
    line-height: 2rem;
  }
  .button-collapse {
    color: #0C61AF;
  }
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
  }
  .parallax-container .section {
    width: 100%;
  }
  /* label focus color */

  .input-field input[type=text]:focus + label {
    color: #0C61AF;
  }
  .input-field input[type=password]:focus + label {
    color: #0C61AF;
  }
  .input-field input[type=email]:focus + label {
    color: #0C61AF;
  }

  /* label underline focus color */

  textarea:focus {
    border-bottom: 1px solid #0C61AF !important;
    box-shadow: 0 1px 0 0 #0C61AF !important;
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #0C61AF;
    box-shadow: 0 1px 0 0 #0C61AF;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #0C61AF;
    box-shadow: 0 1px 0 0 #0C61AF;
  }
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #0C61AF;
    box-shadow: 0 1px 0 0 #0C61AF;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  footer.page-footer {
    margin: 0;
  }

  .approval-button-padding {
    padding-top: 5%;
  }
  /* END of materialize settings */

  /* jumbotron */
  blue {
    font-weight: 900;
  }
  black {
    font-weight: 900;
    color: #343434 !important;
  }

  /* jumbotron */
  .badge {
    width: 80px;
  }

  /* START of mobile */
  @media only screen and (max-width: 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
    .nav-logo, .recent-activity {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    #index-banner .section {
      top: 0;
    }
    .nav-logo {
      height: 50px;
      width: 50px;
    }
    .brand-logo, .recent-activity, .get-started {
      display: none !important;
    }
  }
  /* END of mobile */
