<div class="container">
  <div class="row center">
    <!-- Register Form -->
    <div class="col s12 l8 offset-l2 m12">
      <br>

      <h4 class="center light-blue-text text-darken-3">Register</h4>

      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="row">
          <div class="input-field col s12">
            <div class="form-group" ng-class="{ 'has-success': form.name.first.$valid && submitted, 'has-error': form.name.first.$invalid && submitted }">
              <label for="First Name:">First Name:</label>

              <input class="form-control" name="name" ng-model="user.name.first" required type="text"/>
              <p class="help-block" ng-show="form.name.first.$error.required && submitted">A First name is required</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <div class="form-group" ng-class="{ 'has-success': form.name.last.$valid && submitted, 'has-error': form.name.last.$invalid && submitted }">
              <label for="Last Name:">Last Name:</label>

              <input class="form-control" name="name" ng-model="user.name.last" required type="text"/>
              <p class="help-block" ng-show="form.name.$error.required && submitted">A Last Name is required</p>
            </div>
          </div>
        </div>

        <div class="col s12">
          <select class="browser-default" ng-model="user.gym" ng-options="options.value as options.label for options in gymOptions">
            <option disabled selected value="">Select Your Gym</option>
          </select>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
              <label for="Email">Email:</label>

              <input class="form-control" mongoose-error name="email" ng-model="user.email" required type="email"/>

              <p class="help-block" ng-show="form.email.$error.email && submitted">Doesn't look like a valid email.</p>

              <p class="help-block" ng-show="form.email.$error.required && submitted">What's your email address?</p>

              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }">
              <label for="Password">Password:</label>

              <input class="form-control" mongoose-error name="password" ng-minlength="3" id="password1" ng-model="user.password" required type="password"/>

              <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">Password must be at least 3 characters.</p>

              <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.password }}</p>

            </div>
          </div>
        </div>


          <div class="row">
              <div class="input-field col s12">
                <input class="validate" id="password2" ng-model="passwordCheck" type="password">
                <label for="passwordCheck"> Confirm Password:</label>
                <p id="validate-status"></p>
              </div>
          </div>

        <button class="btn waves-effect waves blue darken-3 center" type="submit" ng-click="getUser()">Register</button>
      </form>

      <div class="row">
        <div class="input-field col s12">
          <div>
            OR
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="waves-effect waves grey lighten-1 btn-flat" href="/login">Log In to an Existing Account</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Password match validation -->
    <script>
      $(document).ready(function() {
        $("#password2").keyup(validate);
      });
      function validate() {
       var password1 = $("#password1").val();
       var password2 = $("#password2").val();

         if (password1 == password2) {
          $("#validate-status").text("Password is valid!");
         } else {
          $("#validate-status").text("Passwords DO NOT match!");
         }
      }
  </script>
