<div class="container">
    <div class="section">
        <div class="row">

            <div class="col l6 center m12 s12">

                <!-- Athlete Info -->
                <img class="responsive-img circle" src="assets/rambo.jpg" />
                <h5>{{ userObj.name.first }} {{ userObj.name.last }} </h5>
                <br>
                <h6><b> Athlete Info: </b></h6>
                <div>{{ userObj.email }} </div>
                <div> {{ userObj.gender }} </div>
                <div> {{ userObj.height.feet }}'{{ userObj.height.inches }}" - {{ userObj.weight }} lbs </div>
                <br>
                <!-- Switches here -->
                <div ng-if="!userObj.is_master && loggedInID !== id"><b> Enable Account </b></div>
                <div class="switch" ng-if="!userObj.is_master && loggedInID !== id">
                    <label>
                        Off
                        <input type="checkbox" ng-checked="is_active">
                        <span ng-click="toggleAccountState(memberID)" class="lever"></span>
                        On
                    </label>
                </div>
                <br>
                <div ng-if="!userObj.is_master && loggedInID !== id"><b> Enable Admin </b></div>
                <div class="switch" ng-if="!userObj.is_master && loggedInID !== id">
                    <label>
                        Off
                        <input type="checkbox" ng-checked="is_admin">
                        <span ng-click="toggleAdminState(memberID)" class="lever"></span>
                        On
                    </label>
                </div>

                <!-- <div> Enable Pathos </div>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span> On
                    </label>
                </div> -->

            </div>

            <div class="col l6 center m12 s12">
                <!-- Logos Knowledge answers -->
                <h5> Logos - Knowledge Answers </h5>
                <div class="section">
                    <h5>What is CrossFit?</h5>
                    <p>Their answer goes here</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Question 2</h5>
                    <p>Their answer goes here</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Question 3</h5>
                    <p>Their answer goes here</p>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</div>