<div class="container">
    <div class="section">
        <div class="row">

            <div class="col l6 center m12 s12">

                <!-- Athlete Info -->
                <img alt="Contact Person" class="responsive-img circle" ng-show="userInfo.name.first && !userInfo.is_admin && !userInfo.is_master"
                src="assets/userAvatar.svg" width="120px">
                <img alt="Contact Person" class="responsive-img circle" ng-show="userInfo.is_admin && !userInfo.is_master"
                src="assets/adminAvatar.svg" width="120px">
                <img alt="Contact Person" class="responsive-img circle" ng-show="userInfo.is_master && !userInfo.is_admin"
                src="assets/masterAvatar.svg" width="120px">
                <br>

                <h5>{{ userObj.name.first }} {{ userObj.name.last }} </h5>
                <br>
                <h6><b> Athlete Info: </b></h6>
                <div>{{ userObj.email }} </div>
                <div> {{ userObj.gender }} </div>
                <div> {{ userObj.height.feet }}'{{ userObj.height.inches }}" - {{ userObj.weight }} lbs </div>
                <br>
                <!-- Switches here -->
                <div ng-if="!userObj.is_master && loggedInID !== id"><b> Enable Account </b></div>
                <div class="switch" ng-if="!userObj.is_master && loggedInID !== id">
                    <label>
                        Off
                        <input type="checkbox" ng-checked="is_active">
                        <span ng-click="toggleAccountState(memberID)" class="lever"></span>
                        On
                    </label>
                </div>
                <br>
                <div ng-if="!userObj.is_master && loggedInID !== id"><b> Enable Admin </b></div>
                <div class="switch" ng-if="!userObj.is_master && loggedInID !== id">
                    <label>
                        Off
                        <input type="checkbox" ng-checked="is_admin">
                        <span ng-click="toggleAdminState(memberID)" class="lever"></span>
                        On
                    </label>
                </div>

                <!-- <div> Enable Pathos </div>
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span> On
                    </label>
                </div> -->

            </div>

            <div class="col l6 center m12 s12">
                <h5> Member Answers </h5>
                <div class="divider"> </div>
                <br>
                <h6><b> What brought you to CrossFit? </b></h6>
                <div> {{getToKnow.answers}} </div>
                <!-- Logos Knowledge answers -->
                <div ng-repeat="evaluation in knowledgeEval" class="section">
                    <h6><b>{{evaluation.content.explanation}}</b></h6>
                    {{evaluation.content.answer}}
                </div>
            </div>
        </div>
    </div>
</div>
